.bgImage{
      background-image: url('../images/Screenshot\ \(137\).png');
      background-repeat: no-repeat;
      background-size: cover;
      background-clip:padding-box;
      width: 100%;
      height: 450px;
      margin-top: 3.5rem;
}
.bg_container{
      background: radial-gradient(rgba(0, 174, 255, 0.993), rgb(0, 0, 0));     
      font-family: 'Times New Roman', Times, serif;
      padding: 20px 5px;
}
h1{
      color: rgb(0, 0, 0);
      text-shadow: 2px 2px 2px rgb(255, 255, 255);
}
.h2, .h3{
      color: white;
      text-shadow: 2px 2px 2px blue;
}
h2{
      padding: 5px 2px;
}
.h3{
      padding: 10px 3px;
}
.p{
      color: rgb(255, 255, 255);
      font-size: 1.2rem;
      font-weight: 800;
      text-shadow: 2px 2px 2px blue;
}