
.width{
      width: 40px;
      position: relative;
      height: 40px;
      border: none;
      border-radius: 5px;
      margin-top: 15px;
      margin-left: 10px;
      background: transparent;
}

.Button,
.Button::after,
.Button::before{
      height: 3px;
      width: 100%;
      position: absolute;
      border-radius: 5px;
      background-color: rgb(0, 0, 0);
}

.Button::before,
.Button::after{
      content: "";
      background-color: rgb(0, 0, 0);
}
.shadow{

      box-shadow: inset 5px 5px 2px solid rgb(255, 68, 68);
}
.Button::after{
 transform: translate(-19px, 10px);
}
.Button::before{
      transform: translate(-19px, -10px);
}
.container-fluid{
      transform: translateX(-300%);
}
.show-containe{
      transform: translateX(0);
}
.flex{
      display: flex;
      text-align: center;
      border-bottom: 2px solid hsla(0, 0%, 0%, 0.247);
      width: 100;
}
.bord{
      border-bottom: 2px solid  hsla(0, 0%, 0%, 0.247);
      
}
.bo{
      border-bottom: 2px solid  hsla(0, 0%, 0%, 0.247);
}
.svg{
      margin-top: 9px;
}
li{
      cursor: pointer;
}
.round-circle{
      width: 100px;
      height: 100px;
      border-radius: 50%;
      border: 2px solid hsla(0, 0%, 0%, 0.445);
}
.w-35{
      width: 30%;
}
.bg-color{
      background-color: hsla(0, 0%, 0%, 0.075);
}
.rotate{
      transform: rotate(180deg);
      transition: 0.5s ease-in-out;
}
.don{
      transform: rotate(0deg);
      transition: 0.5s ease-in-out;
}
.rotate, .don{
      float: right;
}
.height{
      height: 71px;
      background-color: white;
}
.sha{
      padding-top: 19px;
      border-right: 2px solid hsla(0, 0%, 0%, 0.267);
}
.w{
      width: 30%;
      height: 150px;
      border-radius: 19px;
      padding: 10px 12px;
}
.d-color{
       background-color: hsla(197, 88%, 54%, 0.514);
       
      color: rgba(0, 0, 0, 0.685);
}
.font-size{
      font-size: 5.3rem;
      font-weight: bolder;
      color: white;
      line-height: 40px;
      margin: 0;
}
.size{
      font-size: 4rem;
      font-weight: border;
      color: white;
      line-height: 0px;
      margin-right: 15px;
      margin-left: -15px;
}
.text-align,
.cap{
      text-align: center;
      text-transform: uppercase;
      font-size: 1.2rem;
      font-weight: bolder;
      color: rgba(255, 255, 255, 0.932);
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.bg-col{
      background-color: rgba(0, 129, 250, 0.719);
      height: 80px;
      display: flex;
      font-size: 1.5rem;
      font-style: italic;
      justify-content: center;
      align-items: center;
      text-align: center;
}
.h{
      height: 62px;
}
.result_width{
      width: 92.5%;
}
.cursor-pointer{
      cursor: pointer;
}