.footer_containers{
      position: relative;
      width: 100%;
      height: 100px;
}
.footer_container{
      position: absolute;
      width: 100%;
      background-color: rgb(0, 0, 0);
      font-family: 'Times New Roman', Times, serif;
      bottom: 0;
}
.footer_pTag{
      text-align: center;
      font-size: 1.2rem;
      text-shadow: 2px -1px 2px rgb(17, 0, 255);
      color: white;
      align-content: center;
      
   
      
      
}