
.history_container{
      /* background-image:  url("../images/School.png"); */
      
      background-repeat: no-repeat;
      background-size: contain;
      background-position: top center;
      font-family: 'Times New Roman', Times, serif;
      background-color: hsl(0, 0%, 100%);
}
.school_logo{
      float: left;
      width: 218px;
      height: auto;
      margin-right: 15px;
}
.title1{
      text-align: center;
      font-size: 2rem;
      color: hsl(214, 100%, 50%);
}
h1{
      margin-bottom: 20px;
      margin-top: 90px;   
}
.sec{
      font-size: 1.7rem;
}
ol, ul {
      padding: 2px 12px;
}
.ol li{
   list-style: decimal;
   font-weight: 700;
   padding-left: 10px;
}
.span{
      color: rgb(0, 0, 0);
}
.p{
      padding: 2px 10px;
      margin-left: 10px;
}
h4{
      color: blue;
      margin-bottom: 20px;
      font-size: 1.5rem;
      text-shadow: 2px 1px 1px rgb(0, 0, 0);
}
.header_container, .navbar{
      top: 0;
      width: 100%;
      z-index: 1;
      height: 70px;
      background-color: white;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      border-bottom: 2px solid blue;
}
.back{
      float: right;
      padding: 10px 15px;
      text-align: center;
      display: grid;
      align-items: center;
      height: 70px;
      font-size: 1.7rem;
}
a{
      text-decoration: none;
      color: hsl(221, 100%, 50%);
      font-family: 'Times New Roman', Times, serif;
}
.section{
      padding-bottom: 40px;
      margin-top: 100px;
}