.Image_Slider_container{
      position: relative;
      display: flex;
      justify-content: center;
      align-content: center;
      width: 100%;
      height: 500px; 
      border: 2px solid black;
}
.Image_Slider_container img{
      width: 100%;
}
.Image_active{
overflow: hidden;
 animation-name: fade;
 animation-duration: 2s;
transition: all 5s ease-in-out;

}
.none {
      display: none;
}
@keyframes fade {
      to{opacity: 1;
      left:-500px} 
      from{opacity: .2;
      left: 0;}
          
}
.indicators{
      display: flex;
      position: absolute;
      bottom: 10px;
}
.arrow {
      position: absolute;
      top: 45%;
      width: 30px;
      background: transparent;
      border: none;
      font-size: 3rem;
      color: blue;
}
.right{
      right: 10px;
}
.left{
      left: 10px;
}
.active{
      background-color: blue;
}
.indicators button{
      width: 8px;
      height: 9px;
      border-radius: 50%;
      border: none;
      margin-right: 6px;
      cursor: pointer;
      border: 2px solid black;
}
.inactive{
      background-color: rgb(218, 218, 218);
      
}
.iNTRO{
      position: absolute;
      background:transparent;
      height: 250px;
      width: 65%;
      left: 10px;
      border-top-left-radius: 9px;
      border-bottom-left-radius: 9px;
      border-top-right-radius: 60px;
      border-bottom-right-radius: 50px;
      bottom: 90px;
      align-content: center;
}
.title{
      color: hsl(0, 0%, 100%);
      text-shadow: 4px 1px 5px blue;
      font-family: 'Times New Roman', Times, serif;
      padding-left: 10px;
}
.another_title{
      width: 66%;
      margin-left: 19px;
      margin-top: 20px;
      font-size: 2.5rem;
      text-align: center;
      font-family: 'Times New Roman', Times, serif;
      color: #1c1cda;
      text-shadow: 6px 1px 5px black;
      border-radius: 5px;

}
.intor_subtitle{
      margin-top: 80px;
      margin-left: 15px;
      color: hsla(0, 100%, 99%, 0.767);
      text-shadow: 2px -2px 15px black;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}