*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/*header images*/
.top-container {
    display: flex;
    place-content: center;
    background-color: orange;
    width: 100%;
}

header {
    position: sticky;
    z-index: 100;
    background-color: white;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
header a {
    color: #000;
    text-decoration: none;
}
header button {
   margin-left: 5px;
   background-color: orange;
   border: none;
   font-size: 1.5rem;
   border-radius: 5px;
   transition: opacity;
}
header button:active {
    opacity: 0.7;
}

.jumia-image { 
    background-color: whitesmoke;    
    display: flex;
    gap: 30%;
    padding: 8px 0px;
}

.jumia-image span .sign {
    height: 20px;
    width: 20px;
    margin-top: 3px;
    object-fit: cover;
}
#jumia {
    display: flex;
}
.jumia-image a {
    justify-content: start;
    text-align: center;
}
.sell {
    display: flex;
    margin-left: 100px;
}
.sell a {
    text-decoration: none;
    color: black;
}
.second-jumia {
    height: 40px;
    width: 150px;
}
#inputImage {
    display: flex;
   
}
.input {
    font-size: 1rem;
   width: 50%;
   font-size: 1.2rem;
   padding: 5px;
   margin-right: 8px;
}
#inputbox {
    width: 100%;  
    height: 40px;
    display: flex;
}
#inputbox button {
    font-size: 1.5rem;
    padding: 3px 6px;
    text-align: center;
}
.Jumia {
    height: 50px;
    width: 150px;
    margin-left: 80px;
}

input[type='text'] {
    width: 70%;
    height: 40px;
    margin-left: 50px;
    font-size: 1.2rem;
}
button {
    height: 40px;
    font-size: 1.5rem;
    padding: 0px 9px;
    text-align: center;
    margin-left: 10px;
}
nav {
    display: flex;
    text-align: center;
    padding-left: 6px;
    width: 700px;
}
nav a {
    padding: 0px 3%;
    font-size: 1.5rem;
}
#inputImage {
    padding: 20px 0px;
}
#container {
    display: flex;
    width: 100%;
    background-color: red;
}
#left {
    width: 20%;
}
#left img {
    width: 100%;
    height: 80vh;
}
#center {
    width: 60%;
    display: grid;
    position: relative;
}
#middle {
    width: 110%;
    display: flex;
   
    justify-self: center;
    margin-top: 5px;
}
#right {
    width: 20%;
}
#right img {
    width: 100%;
    height: 80vh;
}

.middle-left {
    background-color: white;
    width: 50%;
    padding: 10px 6px;
    border-radius: 8px;
    height: 53vh;
    display: grid;
}

.middle-left a {
    text-decoration: none;
    color: black;
    word-wrap: none;
}

.middle-middle {
    width: 100%;
    padding: 0px 5px;
}
.carousel-control-prev, .carousel-control-next {
    height: 50vh;
}
#carouselExampleRide {
    width: 100%;
}
.carousel-item {
    width: 100%;
}
.carousel-item img {
    width: 100%;
}
#udes {
    height: 53vh;
}
#all {
    height: 53vh;
}
#middle-right {
    display: grid;
}
#contact {
    background-color: rgb(255, 255, 255);
    padding-bottom: 2px;
    padding-left: 4px;
    border-radius: 5px;
}
#contact a {
    color: black;
    text-decoration: none;
  
}
#call a {
  
    padding-top: 1px;
    display: flex;

    height: 19vh;
}

#call a, #call p {
    height: 60px;
    width: 100%;
}
.phone {
    width: 30px;
    height: 40px;
}
.sellOn a {
 display: flex;
}
.sellOn p {
    margin-bottom: 0px;
    margin-top: 5px;
    width: 100%;
}
.sellOn img {
    width: 30px;
    height: 40px;
}
.deal {
    margin-top: 12px;
}
.deal img {
    width: 30px;
    height: 40px;
}
.deal p {
    margin-bottom: 0px;
    margin-top: 5px;
}
.deal a {
    display: flex;
}
.gif {
    margin-top: 5px;
}
.gif img {
    height: 180px;
}
.bottom {
    background-color: rgb(255, 255, 255); 
    width: 110%;
    justify-self: center;
    height: 35vh;
    margin-top: 5px; 
    display: flex;
    padding: 5px;
}
.bottom span {
    width: 32.5%;
    margin-right: 5px;
}
#products {
    margin-top: 13px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    color: white;
    justify-self: center;
    align-self: center;
}
#products div{
    border: 2px solid hsla(0, 0%, 100%, 0.884);
    border-radius: 20px;
    padding: 2px 10px;
    background-color: #000;
    margin-right: 7px;
    margin-bottom: 10px;
  
}
.bottom span img {
    width: 100%;
    height: 28vh;
    border-radius: 8px;
}
@media screen and (min-width: 400px) and (max-width: 1023px) {
    * {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }
    .top-container {
        display: flex;
        place-content: center;
        background-color: orange;
        width: 100%;
    }
    .top-container img {
        width: 90%;
        height: 50px;
    }

    header {
        position: sticky;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
    }
    header button {
        margin-left: 5px;
        background-color: orange;
        border: none;
        font-size: 1rem;
        border-radius: 5px;
        transition: opacity;
        padding: 2px;
     }
     header button:active {
        opacity: 0.7;
    }
    .jumia-image { 
        background-color: whitesmoke;    
        display: flex;
        gap: 20%;
        padding: 5px 0px;
    }
    .jumia-image span .sign {
        height: 20px;
        width: 20px;
        object-fit: cover;
        margin-top: 3px;
    }
    .sell {
        display: flex;
        margin-left: 20px;

    }
    .sell a {
        text-decoration: none;
        color: black;
    }
    #inputImage {
        display: flex;
       
    }
    .Jumia {
        height: 20px;
        width: 40px;
        margin-left: 0px;
    }
}